<div class="container">
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Хиты продаж</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Распродажа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Новинки</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-blue"> ХИТ</div>
                                <img src="images/tov1.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 1</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-blue"> ХИТ</div>
                                <img src="images/tov2.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 2</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">1296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-blue"> ХИТ</div>
                                <img src="images/tov3.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 3</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum rtu rtu rtu rutg erg erg erg erg erg reg erg er g erg erg rg  erg3rg rg erg erg erg e rg rtj rtj rtj dolor sdjrtj rtjrtjr tjtjrt jrtjrt jrtjrtjit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">11296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-blue"> ХИТ</div>
                                <img src="images/tov4.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 4</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">111296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-orange"> -10%</div>
                                <img src="images/tov1.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 1</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-orange"> -10%</div>
                                <img src="images/tov2.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 2</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">1296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-orange"> -10%</div>
                                <img src="images/tov3.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 3</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum rtu rtu rtu rutg erg erg erg erg erg reg erg er g erg erg rg  erg3rg rg erg erg erg e rg rtj rtj rtj dolor sdjrtj rtjrtjr tjtjrt jrtjrt jrtjrtjit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">11296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-orange"> -10%</div>
                                <img src="images/tov4.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 4</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">111296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-green"> NEW</div>
                                <img src="images/tov1.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 1</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-green"> NEW</div>
                                <img src="images/tov2.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 2</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">1296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-green"> NEW</div>
                                <img src="images/tov3.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 3</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum rtu rtu rtu rutg erg erg erg erg erg reg erg er g erg erg rg  erg3rg rg erg erg erg e rg rtj rtj rtj dolor sdjrtj rtjrtjr tjtjrt jrtjrt jrtjrtjit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">11296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card w-100" style="width: 18rem;">
                                <div class="flag flag-green"> NEW</div>
                                <img src="images/tov4.jpg" alt="" class="card-img-top">
                                <div class="card-header"><h5 class="card-title">Товар 4</h5></div>
                                <div class="card-body"><p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corp deleniti dignissimos ebus.</p></div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a href="" class="card-link col-6">Купить</a>
                                        <span class="col-6">111296 грв</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



.card img {
  padding: 2px; }

.card .card-header {
  padding: 10px 20px 0 20px; }

.card .card-body {
  max-height: 136px;
  overflow: hidden; }

.card:hover {
  outline: #721c24 solid 3px; }




article .container-fluid {
  margin-bottom: 10px; }

article .container {
  margin-bottom: 10px; }
  article .container .nav-pills {
    margin-bottom: 20px; }



article .flag {
  text-align: center;
  top: 5px;
  left: 10px;
  position: absolute;
  width: 60px;
  border: #1a1a1a solid 1px;
  border-radius: 0 0 10px 10px;
  color: #d1ecf1; }

article .flag-blue {
  background-color: #007fc3; }

article .flag-orange {
  background-color: #f34500; }

article .flag-green {
  background-color: #579c5a; }




{% for parrentCategory in parrentCategories %}
                        <div class="btn-group">
                          <button type="button" onclick="location.href='{{ parrentCategory.get_absolute_url }}'" class="btn btn-danger">{{ parrentCategory.name }}</button>
                          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            {% for category in categories %}
                                {% if category.parentCategory == parrentCategory %}
                                    <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {%  endif %}
                            {% endfor %}
                          </div>
                        </div>
                    {% endfor %}